version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      DB_HOST: dpg-d4ca3nili9vc73bsphhg-a
      DB_PORT: 5432
      DB_NAME: ums_db_lt5k
      DB_USER: ums_db_lt5k_user
      DB_PASSWORD: lo1z61KGqguio7qttQtwhxfJXNFRl3CT
