version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      DB_HOST: dpg-d4dk1p7pm1nc73dclm60-a.frankfurt-postgres.render.com
      DB_PORT: 5432
      DB_NAME: ums_db_erwo
      DB_USER: ums_db_erwo_user
      DB_PASSWORD: k2GH66bqhv9GFqG9Hk981rCcIPqjgrgK
